<form id="torneycreate" action="/tourney/create-torney" method="POST" enctype="application/x-www-form-urlencoded">
      <div class="form-group">
        <label for="torneyname">Torney Name</label>
        <input type="text" name="torneyname" id="torneyname" class="form-control">
      </div>
      <div class="form-group">
        <label for="starts">Starts</label>
        <input type="text" id="starts", name="starts" class="form-control">
      </div>
      <div class="form-group">
        <label for="fightersnum">Number of Fighters</label>
        <input type="number" id="fightersnum", name="fightersnum" class="form-control">
      </div>
      <div class="form-group">
        <label for="field">Field</label>
        <input type="text" id="field", name="field" class="form-control">
      </div>
      <div class="form-group">
        <label for="fieldname">Name of the Game</label>
        <input type="text" id="fieldname", name="fieldname" class="form-control">
      </div>
       <button type="submit" class="btn btn-primary">Create</button>
     </form>